

    <nav class="navbar">
        <div class="logo">
            <img src="logo.jpg" alt="">
            Byway
        </div>
    
        <!-- Menu Links -->
        <div class="menu">
            <div class="doropdowncat">
                <a routerLink="">Categories</a>
                <div class="dropdown">
                    <a routerLink="">Astrology</a>
                    <a routerLink="">Development</a>
                    <a routerLink="">Marketing</a>
                    <a routerLink="">Physics</a>
                </div>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search courses">
            </div>
            <a href="">Teach on Byway</a>
        </div>
   
        <div class="buttons">
           
            <a routerLink="/cart" class="icon"><img src="Icon.jpg" alt="cart" width="15px"></a>
            <a routerLink="/login">Log In</a>
            <a routerLink="" class="sign-up">Sign Up</a>
        </div>
    </nav>
